<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div align="center">
		<h3 style="color: green" th:if="${success}" th:text="${success}"></h3>
		<h1>Employee Management</h1>
		<a href="/add-record"><button>Add Record</button></a>
		<a href="/fetch-records"><button>Fetch Records</button></a>
	</div>
	
	<br><br>
	
	<div align="center" th:if="${add}">
		<h1>Add Record</h1>
		<form action="/add-record" method="post">
			Name: <input type="text" name="name" placeholder="Enter Name"><br>
			<br> Email: <input type="email" name="email"
				placeholder="Enter Email"><br> <br> Mobile: <input
				type="tel" pattern="{0-9}[10]" name="mobile"
				placeholder="Enter Mobile Number"><br> <br>
			Salary: <input type="number" name="salary" placeholder="Enter Salary"><br>
			<br> Gender: <input type="radio" name="gender" value="male">Male
			<input type="radio" name="gender" value="female">Female <br>
			<br>
			<button>Add</button>
		</form>
	</div>
	
	<div align="center" th:if="${edit}">
		<h1>Edit Records</h1>
		<form action="/update-record" method="post">
		<input type="hidden" name="id" th:value="${emp.id}"> 
			Name: <input type="text" th:value="${emp.name}" name="name" placeholder="Enter Name"><br>
			<br> Email: <input type="email" name="email" th:value="${emp.email}"
				placeholder="Enter Email"><br> <br> Mobile: <input
				type="tel" th:value="${emp.mobile}" pattern="{0-9}[10]" name="mobile"
				placeholder="Enter Mobile Number"><br> <br>
			Salary: <input type="number" name="salary" th:value="${emp.salary}" placeholder="Enter Salary"><br>
			<br> Gender: <input type="radio" name="gender" value="male">Male
			<input type="radio" name="gender" value="female">Female <br>
			<br>
			<button>Update</button>
		</form>
	</div>
	
	<div align="center" th:if="${records}">
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Salary</th>
				<th>Mobile</th>
				<th>Gender</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			
			<tr th:each="emp:${records}">
				<td th:text="${emp.name}"></td>
				<td th:text="${emp.email}"></td>
				<td th:text="${emp.salary}"></td>
				<td th:text="${emp.mobile}"></td>
				<td th:text="${emp.gender}"></td>
				<td><a th:href="'/edit?id='+${emp.id}"><button>Edit</button></a></td>
				<td><a th:href="'/delete?id='+${emp.id}"><button>Delete</button></a></td>
			</tr>
			
		</table>
	</div>

	<script th:if="${success}" th:inline="javascript">
		alert([[${success}]]);
	</script>
</body>
</html>